.line {
  flex: 1 0 0;
  box-sizing: border-box;

  border: 2px solid #eceeef;
  border-radius: 2px;
  height: 4px;
}

.line_good {
  flex: 1 0 0;
  box-sizing: border-box;
  border: 2px solid #ff4d4d;
  border-radius: 2px;
  height: 4px;
}

.score-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 4px;
  height: 4px;
}
