.search {
  display: flex;
  flex-direction: row;
  // border-radius: 8px;
  // background: #f2f5f9;
  // padding: 16px 20px;
  border-radius: 8px;
  width: 100%;
  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #ff4d4d;
    padding: 16px 20px;
    color: #f2f5f9;
    white-space: nowrap;
  }
  & input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #f2f5f9;
    padding: 16px 20px;
    width: 100%;
  }
}
