.footer {
  display: flex;
  place-content: center;
  align-items: center;
  background-color: #f2f5f9;
  padding-top: 32px;
  padding-bottom: 24px;
  color: #263141;

  &__wrapper {
    display: grid;
    grid-template-rows: 1fr auto;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    place-content: center;
    gap: 24px;
    max-width: 1440px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__copyright {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
